.bg-image1 {
  width: 100%;
  height: 90vh;
  object-fit: cover;

}

.navbar-background {
  position: relative;
}

.navbar-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  /* Adjust the opacity here */
}

.text1 {

  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-left: 30px;
}

.text2 {
  padding: 9px;
  background-color: rgba(218, 208, 208, 0.342);

}

.nav-item:hover a {
  color: blue;
  /* Change color of links on hover */
}

.registration-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

}

.registration-form h2 {
  margin-bottom: 20px;
}

/* .form-group {
    margin-bottom: 10px;
  } */

/* .form-group label {
    display: block;
    margin-bottom: 5px;
  } */

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover::after {
  opacity: 1;
}

.custom-div {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.custom-div:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem #000;
}

.custom-div:active {
  transform: translate(0);
  box-shadow: none;
}

.button2 {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  width: 60px;
  height: 40px;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  width: 60px;
  height: 40px;
}

.button2:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.button2:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.card2 {
  width: 15em;
  height: 17.5em;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card2 span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card2 .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

/* .card2 .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
  } */

.card2 .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card2 a {
  color: white;
  transition: .4s ease-in-out;
}

.card2 a:hover {
  color: red;
}

.card2 button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: rgba(70, 239, 40, 0.881);
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.card2 button:hover {
  background: rgba(70, 239, 40, 0.881);
  color: white;
  cursor: pointer;
}

.button3 {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #eb3656;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  margin-left: 90px;
  margin-top: 40px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button3:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button3:hover .icon {
  transform: translate(4px);
}

.button3:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button3::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.hero-img {
  width: 40%;
  margin-top: -380px;
  margin-right: 30px;
}

.hero-img-box {
  display: flex;
  justify-content: flex-end;
}

.card3 {
  width: 250px;
  height: 300px;
  background-image: linear-gradient(163deg, #eb3656 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.card4 {
  width: 250px;
  height: 300px;
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: all .2s;
}

.card4:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card3:hover {
  box-shadow: 0px 0px 30px 1px rgba(249, 249, 249, 0.3);
}

.heading-secondary {
  font-size: 2.2rem;
  line-height: 1.2;
  padding: 0.8rem 1.6rem;
  font-weight: 400;
}

.heading-collection {
  width: 250px;
  border-bottom: 4px solid #eb3656;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

